.main-content{
    width: 329px;
    height: 400px;
    margin-top: 123px;
    text-align: center;
    margin-left: 500px;
}
.tag{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 452px;
    
}